@model List<Gamma_News.Models.ViewModels.Article>


@if (Model != null)
{
	@foreach (var article in Model)
	{
		
		<div class="border-4 container relative mx-auto my-20 my-auto mb-10 max-w-2xl space-x-5 space-y-5 rounded-3xl border-sky-600 border-y-yellow-300 border-b-green-300 border-opacity-15 text-center shadow-2xl shadow-slate-900 transition hover:scale-105 hover:border-y-[#EB6E4B] hover:border-x-[#EB6E4B] sm:py-8">
				<img class="container h-96 transform content-center" src="@article.ImageLink" />
			<div class="">
				<div class="border-4 relative bottom-0 top-auto mx-auto my-auto max-h-96 max-w-xl border-emerald-800 border-opacity-15 bg-slate-200 shadow-xl">
					<div class="article-preview border-b border-gray-300 p-4">
						<h2 class="text-xl font-bold">@article.Headline</h2>
						<p class="text-gray-700">@article.Preview</p>
						 <a href="/Article/Details/@article.Id" class="text-blue-500 hover:underline">READ MORE</a>  
						<!---Subscription button--->
						@* <div class="class="text-blue-500 hover:underline">
							<div class="container relative top-28 mx-auto px-4">

								<button class="absolute inline-block rounded bg-blue-500 px-4 py-2 font-bold text-white transition duration-150 ease-in-out hover:bg-blue-700"
										onclick="location.href='@Url.Action("Details", "Article")'">
									Read More
								</button>

							</div>
							<script>
								document.getElementById('featureButton').addEventListener('click', function () {
									// Use Razor syntax to generate the URL for the Subscribe page
									window.location.href = '@Url.Page("/Details")'; // For Razor Pages
									// Or for MVC: window.location.href = '@Url.Action("ActionName", "ControllerName")';
								});
							</script>
						</div> *@
						
					</div>
				</div>
			</div>
		</div>
	  
	}
}

 @* @Model[0].Preview; *@