@using Microsoft.AspNetCore.Identity
@using Gamma_News.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



@if (SignInManager.IsSignedIn(User))
{
User? user = await UserManager.GetUserAsync(User);
string? image = user.profile_image;
@*   
    <div class="size-60">

        <partial name="_newsletter_partial"></partial>

    </div> 



     <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a> 
 *@
    @if (image == "" || image == null)
    {
        <div id="profile_container" class="relative bottom-3">
            <a id="drop_profile_button_desktop" type="button" class="transition hover:scale-105" style="" aria-expanded="false" aria-haspopup="false">
                <g>
                    <svg class="size-16 text-slate-300 rounded-full border-4 border-[#EB6E4B]" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
                    </svg>
                </g>
            </a>
            <div class="relative container bottom-20 left-6" style="">
                <span class="relative right-1.5">
                    <span class="absolute animate-ping inline-flex h-5 w-5 rounded-full bg-slate-300 opacity-75"></span>
                    <span class="absolute rounded-full h-5 w-5 bg-green-400"></span>
                </span>
            </div>
        </div>
    }

    else if (image != null)
    {
        <div id="profile_container" class="relative bottom-3">

            <a id="drop_profile_button_desktop" type="button" class="transition hover:scale-105" style="" aria-expanded="false" aria-haspopup="false">
                <div class="size-20 text-slate-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                    <img class="size-20 rounded-full border-4 border-[#EB6E4B]" src="@user.profile_image" />
                </div>
            </a>

            <div class="relative container bottom-20 left-6" style="">
                <span class="relative right-1.5">
                    <span class="absolute animate-ping inline-flex h-5 w-5 rounded-full bg-slate-300 opacity-75"></span>
                    <span class="absolute rounded-full h-5 w-5 bg-green-400"></span>
                </span>
            </div>
        </div>
    };

              





                         @* 
                        <!--
                        Dropdown menu, show/hide based on menu state.

                        Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                        --> *@

    <div id="drop_profile_desktop" class="hidden absolute z-10 w-48 rounded-md max-w-md overflow-hidden border-t-2 border-double border-teal-600 border-opacity-50 bg-gradient-to-b from-gray-800 from-0% via-sky-950 via-50% to-gray-800 to-100% font-sans right-10" style="" role="menu" aria-orientation="vertical" aria-labelledby="drop_profile_desktop" tabindex="-1">
        @*  <!-- Active: "bg-gray-100", Not Active: "" --> *@
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="block w-full text-sm font-bold text-white px-4 py-2 rounded-lg z-50 hover:bg-white hover:text-slate-900" role="menuitem" id="user-menu-profile">Profile</button>
        </form>

        <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Settings" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="block w-full text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" id="user-menu-setting">Settings</button>
        </form>

        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="block w-full text-sm font-bold text-white px-4 py-2 rounded-lg hover:bg-white hover:text-slate-900" role="menuitem" id="user-menu-sign-out">Sign out</button>

        </form>
    </div>

}

    else
    {
    <div class="container md:visible" style="left: 130px">
        <div class="relative w-14 h-14 text-center rounded-full nav-link btn btn-lg btn-primary border-2 border-sky-900 border-opacity-50 font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-[#EB6E4B]" style="">
            <a class="relative top-3 leading-1 text-center" style="" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div> 

    </div>
     }





   
 
