@using Gamma_News.Models;
@inject SignInManager<User> SignInManager

<div class="relative mx-auto bg-gradient-to-r border-4 border-double border-emerald-800 border-opacity-55 drop-shadow-2xl from-gray-800 lg:flex-auto shadow-gray-700 to-gray-800 via-sky-950 w-2/3">

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="relative flex justify-between">

    
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) relative w-full mx-auto text-center p-3 px-10 btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-400 leading-10 top-16" id="profile" asp-page="./Index">Profile</a>
    



        <a class="nav-link @ManageNavPages.SettingsNavClass(ViewContext) relative mx-auto text-center p-3 px-10 w-full btn btn-lg btn-primary rounded-md border-y-4 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-400 leading-10 top-16" id="settings" asp-page="./Settings">Settings</a>




        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) relative mx-auto text-center p-3 px-10 w-full btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10 top-16" id="email" asp-page="./Email">Email</a>



 

        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) relative mx-auto text-center p-3 w-full btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10 top-10" id="change-password" asp-page="./ChangePassword">Password</a>



@if (hasExternalLogins)
{


            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) relative mx-auto text-center p-3 px-10 w-full btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10 top-16" asp-page="./ExternalLogins">External logins</a>

   
}


        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) relative mx-auto text-center p-3 px-10 w-full btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10 top-16" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor</a>





        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) relative mx-auto text-center p-3 px-10 w-full btn btn-lg btn-primary rounded-md border-y-2 border-sky-900 border-opacity-50 text-sm font-bold text-slate-300 shadow-md shadow-gray-900 hover:border-sky-800 leading-10 top-16" id="personal-data" asp-page="./PersonalData">Personal data</a>




</div>
</div>
