@using Gamma_News.Models;
@inject SignInManager<User> SignInManager

<div class="relative mx-auto bg-gradient-to-r border-4 border-double border-emerald-800 border-opacity-55 drop-shadow-2xl from-gray-800 lg:flex-auto shadow-gray-700 to-gray-800 via-sky-950 w-2/3">

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="relative flex gap-x-6 justify-between">

        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <button class="nav-link @ManageNavPages.IndexNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="profile" asp-page="./Index">Profile</button>
        </div>
    


        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <a class="nav-link @ManageNavPages.SettingsNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="settings" asp-page="./Settings">Settings</a>
        </div>




        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="email" asp-page="./Email">Email</a>
        </div>




 
        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="change-password" asp-page="./ChangePassword">Password</a>
        </div>




@if (hasExternalLogins)
{

            <div class=" group relative">
                <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
                </div>
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" asp-page="./ExternalLogins">External logins</a>
            </div>


   
}

        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor</a>
        </div>





        <div class=" group relative">
            <div class="absolute scale-105 -inset-1 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-0 blur transition duration-800 group-hover:opacity-100">
            </div>
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) w-100 visible opacity-100 btn btn-lg btn-primary relative mx-auto flex min-h-14 max-h-14  min-w-32 items-center justify-center text-lg font-bold text-slate-300 shadow-md shadow-gray-900 bg-gradient-to-r via-sky-900 font-sans" id="personal-data" asp-page="./PersonalData">Personal data</a>
        </div>





</div>
</div>
